---
import { defaultLocale, fallback } from '@src/i18n/i18n';
import {getRelativeLocaleUrl} from "astro:i18n";
import HeaderLink from './HeaderLink.astro';
import { siteTitle } from '@src/consts';
import { headerMenu } from '@src/header';

const homeURL = getRelativeLocaleUrl(Astro.currentLocale, "");

const menuLocale =  headerMenu[Astro.currentLocale] ? Astro.currentLocale : fallback[Astro.currentLocale] || defaultLocale

const headerMenuItems = headerMenu[menuLocale].items

const { pathname } = Astro.url;
const homeIsCurrent = pathname === homeURL ? 'page' : '' ;
---

<header>
	<nav>
		<ul class="header__list">
			<li class="header__home-item">
				<a
					href={homeURL}
					aria-current={homeIsCurrent ? homeIsCurrent : undefined}
				>
					{siteTitle}
				</a>
			</li>
			{headerMenuItems.map((item) => (
				<HeaderLink href={item.path}>{item.label}</HeaderLink>
			))}
		</ul>
	</nav>
</header>

<style>
	.header__list{
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		max-width: 100%;
		overflow-x: auto;
	}
	.header__home-item{
		flex-grow: 1;
	}
</style>