---
import { uiStrings } from '../i18n/ui';
const currentLocale = Astro.currentLocale
const {translationLinks} = Astro.props
const pageTranslationsAvailableIn = `${uiStrings.pageTranslationsAvailableIn[currentLocale]} ` 
---

{pageTranslationsAvailableIn &&
	<aside id="translations-banner" class="translations-banner">
		<p>
			{pageTranslationsAvailableIn} {translationLinks.map((translation, index) => (
				<a href={translation.path} hreflang={translation.locale}>
					{translation.label}
				</a>
				<span>{index < translationLinks.length - 1 ?
					', ' : ''
				}</span>
			))}.
		</p>
	</aside>
}

<style>
	.translations-banner[aria-hidden="true"]{
		display: none;
	}
</style>

<script define:vars={{currentLocale}}>
	const banner = document.getElementById('translations-banner')
	if (currentLocale == window.navigator.language || currentLocale == window.navigator.language.slice(0, 2)) banner.setAttribute("aria-hidden", "true");
</script>