---
import getPublishedPosts from '@utilities/getPublishedPosts';
import I18n from "@components/I18n.astro";
import FormattedDate from '@components/FormattedDate.astro';
import getPostPath from '@src/utilities/getPostPath';

const
	{frontmatter} = Astro.props,
	title = frontmatter.title,
	collection = frontmatter.collection;

const posts:Array<any> = await getPublishedPosts(Astro.currentLocale, collection)
---
<I18n frontmatter={frontmatter} collection="pages">
	<main id="main">
		<header class="prose">
			<h1>{title}</h1>
			<slot/>
		</header>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`${getPostPath(Astro.currentLocale, collection, post.slug)}`}>
							<img width={720} height={360} src={post.data.previewImage} alt="" />
							<h2 class="title">{post.data.title}</h2>
							<p class="date">
								<FormattedDate date={post.data.pubDate} />
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</main>
</I18n>