---
import getPublishedPosts from '@utilities/getPublishedPosts';
import MainI18n from "@components/MainI18n.astro";
import FormattedDate from '@components/FormattedDate.astro';
import { getRelativePostPath } from '@utilities/getPostPath';
import {getPostDescription} from '@utilities/getPageDescription';

const
	{frontmatter} = Astro.props,
	title = frontmatter.title,
	collection = frontmatter.collection;

const posts = await getPublishedPosts(Astro.currentLocale, collection)
---
<MainI18n {frontmatter} collection="pages">
	<main id="main">
		<header class="prose">
			<h1>{title}</h1>
			<slot/>
		</header>
		<ul>
			{posts.map((post) => (
				<li>
					<a href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}>
						<img width={720} height={360} src={post.data.previewImage} alt="" />
						<h2 class="title">{post.data.title}</h2>
						<p class="date">
							<FormattedDate date={post.data.pubDate} />
						</p>
					</a>
					<blockquote cite={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}>
						{getPostDescription(post)}
					</blockquote>
				</li>
			))}
		</ul>
	</main>
</MainI18n>