---
import Html from '@components/Html.astro';
import Header from "../components/Header.astro";

// I think it's weird that this doesn't work: const { title, description, previewImage } = Astro.props;
const
	{frontmatter} = Astro.props,
	title = frontmatter.title,
	description = frontmatter.description,
	previewImage = frontmatter.previewImage
---
<Html title={title} description={description} image={previewImage} />
	<Header />
	<main class="prose">
		<h1>{title}</h1>
		<slot/>
	</main>
</Html>
	