---
import Page from '@layouts/Page.astro'
import type { Person } from "@utilities/people"
import type { CommonFrontmatter } from '@src/types'
export interface PersonFrontmatter extends CommonFrontmatter{
	person: Person
}
interface Props {
	frontmatter: PersonFrontmatter
}
const { frontmatter } = Astro.props
const person = frontmatter.person
const contactDataAreAvailable = person.mail || person.mastodon
---

<Page {frontmatter}>
	{contactDataAreAvailable &&
		<table>
			<tr>
				{person.mail &&
					<tr><td>Mail</td><td><a href={`mailto:${person.mail}`}>{person.mail}</a></td></tr>
				}
				{person.mastodon &&
					<tr><td>Mastodon</td><td><a href={`https://${person.mastodon}`}>{person.mastodon}</a></td></tr>
				}
			</tr>
		</table>
	}

	<p>{person.description[Astro.currentLocale]}</p>
</Page>