---
import Byline from "@components/Byline.astro";
import PostTags from "@components/PostTags.astro";
import MainI18n from "@components/MainI18n.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const
  frontmatter = Astro.props,
  { title, pubDate, updatedDate, previewImage, tags, author } = Astro.props,
  realTags: string[] = tags.filter((tag)=>{return tag !== 'other'});
---

<MainI18n {frontmatter} collection="blog">
  <main id="main" tabindex=”1”>
    <article>
      <header>
        {previewImage && <img width={1020} height={510} src={previewImage} alt="" />}
        <h1>{title}</h1>
        <Byline authorFullName={author} {pubDate} {updatedDate}>
      </header>
      <div class="prose">
        <slot />
      </div>
      {realTags.length > 0 &&
        <footer>
          <PostTags tags={realTags} />
        </footer>
      }
    </article>
  </main>
</MainI18n>